{% extends "master.html" %}

{% block title %}
  Listado de Teléfonos
{% endblock %}

{% block content %}
<h3>Número de teléfonos registrados: {{ numero_telefonos }}</h3>

<table id="tabla_telefonos">
  <thead>
    <tr>
      <th>Teléfono</th>
      <th>Tipo</th>
      <th>Operadora</th>
      <th>Estudiante</th>
      <th>Editar</th>
    </tr>
  </thead>
  {% for t in telefonos %}
  <tr>
    <td>{{ t.telefono }}</td>
    <td>{{ t.tipo }}</td>
    <td>{{ t.obtener_operadora }}</td>
    <td>{{ t.estudiante }}</td>
    <td><a href="{% url 'editar_numero_telefonico' t.id %}">editar</a></td>
  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_telefonos').DataTable();
  });
</script>
{% endblock %}
